@import 'vars';

.flash-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(226, 220, 185);
}

.alert {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid;
}

.alert-error {
  background-color: lighten($col-error, 40%);
  color: $col-error;
  border-color: $col-error;
}

.alert-success {
  background-color: lighten($col-success, 40%);
  color: $col-success;
  border-color: $col-success; 
}

.alert-notice {
  background-color: lighten($col-notice, 40%);
  color: $col-notice;
  border-color: $col-notice; 
}

#error_explanation {
  color: $col-error;
  background-color: lighten($col-error, 40%);
}