$col-primary: rgb(29, 77, 131);
$gradient-primary: linear-gradient(rgb(13, 45, 82), rgb(29, 76, 131));
$grey: rgb(160, 160, 160);
$grey-light:  rgb(216, 216, 216);
$border: 1px solid $grey;
$col-error: rgb(180, 4, 4);
$col-success: rgb(75, 165, 75);
$col-notice: rgb(37, 125, 160);